body {
	font-family: Arial, Helvetica, sans-serif;
	overflow-x: hidden;
}
#startScreen{
	background-color: #212121;
	height: 100%;
}
#startText{
	line-height: 60px;
	color: #AAAAAA;
	text-align: center;
	font-size: 40px;
}
#maindiv {
	height: 600px;
	width: 905px;
	border-radius: 5px;
	background-color: #969696;
}
#leftdiv {
	float: left;
}
#rightdiv {
	float: right;
}
#mainCanvas {
	margin-top: 3px;
	background-color: #969696;
	border-width: 10px;
	border-radius: 5px;
}
#textboxdiv {
	margin-top: 5px;
	height: 80px;
	width: 95%;
	border-style: ridge;
	border-radius: 5px;
	border-width: 5px;
	border-color: #888888;
	color: #000000;
	background-color: #969696;
}
#buttondiv {
	width: 900px;
}
#playerHP {
	font-size: 30px;
}
#enemyHP {
	font-size: 30px;
}
.sidediv {
	height: 600px;
	width: 230px;
	background-color: #424242;
	border-radius: 5px;
	margin: 5px;
	margin-top: 5px;
	border-color: #969696;
	border-style: solid;
}
.button {
	box-shadow:inset 0px 1px 0px 0px #b4ff94;
	border:1px solid;
	border-radius: 5px;
	display:inline-block;
	cursor:pointer;
	color:#212121;
	font-size:13px;
	font-weight:bold;
	padding:6px 12px;
	text-decoration:none;
	height: 80px;
	width: 200px;
	margin: 6px;
	margin-top: 10px;
}
.button:hover {
	text-decoration: underline;
}
.button:active {
	position:relative;
	top:1px;
}
#button1 {
	background-color: #cc6600;
	border-color: #cc3300;
}
#button2 {
	background-color: #cc0000;
	border-color: #cc0033;
}
#button3 {
	background-color: #0066ff;
	border-color: #0033ff;
}
#button4 {
	background-color: #009900;
	border-color: #006600;
}
p {
	color: #0f0f0f;
	text-align: left;
	margin-left: 5px;
	line-height: 11px;
}
.game-container{
	background-image: url(img/gameMap.svg),url(img/einall-s2w2_wn21.png);
	background-repeat: no-repeat;
	width: 1536px;
	height:1006px;	
}
#tower1{
	position:absolute;
	top:  672px;
	left: 588px;
	cursor: pointer;
}
#tower2{
	position:absolute;
	top:  672px;
	left: 1160px;
	filter: blur(2px);
}
#tower3{
	position:absolute;
	top:384px;
	left:872px;
	filter: blur(2px);
}
#tower4{
	position:absolute;
	top:384px;
	left:272px;
	filter: blur(2px);
}
#tower6{
	top: 96px;
	left: 1160px;
	position: absolute;
	filter: blur(2px);
}
#tower5{
	position:absolute;
	top: 96px;
	left: 588px;
	filter: blur(2px);	
}
#wizard {
	position: absolute;
	top: 708px;
	left: 1016px;
}
#player-icon {
	position: absolute;
	top: 700px;
	left: 280px;
}
#textbox {
	position:absolute;
	background-color: #AAAAAA;
	top: 400px;
	left: 430px;
	height: 150px;
	width: 723px;
	display:none;
}
#mapText {
	color: #000000;
	text-align: center;
	font-size: large;
	line-height: 30px;
}
#continueButton{
	box-shadow: 3px 4px 0px 0px #899599;
	background-color:#ededed;
	border-radius:15px;
	border:1px solid #d6bcd6;
	display:inline-block;
	cursor:pointer;
	color:#212121;
	font-family:Arial;
	font-size:17px;
	padding:7px 25px;
	text-decoration:none;
	text-shadow:0px 1px 0px #e1e2ed;
	line-height: 50px;
}
#spacer{
	line-height: 150px;
}
#room{
	height: 100%;
	width: 100%;
}
#endText{
	position: absolute;
	top: 200px;
	left: 400px;
	color: #696969;
	font-size: 80px;
	line-height: 100px;
	text-align: center;
	text-shadow: 0 0 10px #FFFFFF;
}