#maindiv {
	height: 600px;
	width: 905px;
	border-radius: 5px;
	background-color: #969696;
}

#leftdiv {
	float: left;
}

#rightdiv {
	float: right;
}

#mainCanvas {
	margin-top: 3px;
	background-color: #969696;
	border-width: 10px;
	border-radius: 5px;
}

#mapCanvas {
	margin-top: 3px;
	background-color: #969696;
	border-width: 10px;
	border-radius: 5px;
}

#textboxdiv {
	margin-top: 5px;
	height: 80px;
	width: 95%;
	border-style: ridge;
	border-radius: 5px;
	border-width: 5px;
	border-color: #888888;
	color: #000000;
	background-color: #969696;
}

#buttondiv {
	width: 900px;
}

#img1 {
	height:225px;
	width:185px;
}

#img2 {
	height:225px;
	width:185px; 
}

#playerHP {
	font-size: 30px;
}

#enemyHP {
	font-size: 30px;
}

.sidediv {
	height: 600px;
	width: 230px;
	background-color: #424242;
	border-radius: 5px;
	margin: 5px;
	margin-top: 5px;
	border-color: #969696;
	border-style: solid;
}

.button {
	box-shadow:inset 0px 1px 0px 0px #b4ff94;
	border:1px solid;
	border-radius: 5px;
	display:inline-block;
	cursor:pointer;
	color:#212121;
	font-family:Arial;
	font-size:13px;
	font-weight:bold;
	padding:6px 12px;
	text-decoration:none;
	height: 80px;
	width: 200px;
	margin: 6px;
	margin-top: 10px;
}
.button:hover {
	text-decoration: underline;
}
.button:active {
	position:relative;
	top:1px;
}

#button1 {
	background-color: #cc6600;
	border-color: #cc3300;
}

#button2 {
	background-color: #cc0000;
	border-color: #cc0033;
}

#button3 {
	background-color: #0066ff;
	border-color: #0033ff;
}

#button4 {
	background-color: #009900;
	border-color: #006600;
}

p {
	color: #0f0f0f;
	text-align: left;
	margin-left: 5px;
	line-height: 11px;
}